{% extends 'main.html' %}
{% block description %}<meta name="description" content="Оплата и доставка в Интернет-магазине" />{% endblock %}
{% block keywords %}
    <meta name="keywords" content="интернет магазин, интернет магазин dvd, интернет магазин dvd диски, оплата, доставка" />
{% endblock %}
{% block title %}Оплата и доставка{% endblock %}
{% block content %}
    <div id="article">
        <h2>Оплата и доставка</h2>
        <p>У нас есть 2 варианта доставки: доставка по почте наложенным платежом и самовывоз.</p>
        <p>Возможны и другие варианты оплаты и доставки, о которых можно договориться по телефону с менеджером после оформление заказа.</p>
    </div>
{% endblock %}