<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{% block title %}<title>{{ title }}</title>{% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block description %}<meta name="description" content="Интернет-магазин по продаже DVD-дисков." />{% endblock %}
	{% block keywords %}
		<meta name="keywords" content="интернет магазин, интернет магазин dvd, интернет магазин dvd диски" />
	{% endblock %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css" />
	<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
	<link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div id="container">
		<div id="header">
			<img src="{% static 'images/header.png' %}" alt="Шапка" />
			<div>
				<p class="red">8-800-123-45-67</p>
				<p class="blue">Время работы с 09:00 до 21:00<br />без перерыва и выходных</p>
			</div>
			<div class="cart">
				<p class="cart_title">Корзина</p>
				<p class="blue">Текущий заказ</p>
				<p>В корзине <span>0</span> товаров<br />на сумму <span>0</span> руб.</p>
				<a href="#">Перейти в корзину</a>
			</div>
		</div>
		<div id="topmenu">
			<ul>
				<li>
					<a href="{% url 'storedvd:index' %}">ГЛАВНАЯ</a>
				</li>
				<li>
					<img src="{% static 'images/topmenu_border.png' %}" alt="" />
				</li>
				<li>
					<a href="https://storedvd.ru/delivery">ОПЛАТА И ДОСТАВКА</a>
				</li>
				<li>
					<img src="{% static 'images/topmenu_border.png' %}" alt="" />
				</li>
				<li>
					<a href="https://storedvd.ru/contacts">КОНТАКТЫ</a>
				</li>
			</ul>
			<div id="search">
				<form name="search" action="https://storedvd.ru/search" method="get">
					<table>
						<tr>
							<td class="input_left"></td>
							<td>
								<input type="text" name="q" value="поиск" onfocus="if(this.value == 'поиск') this.value=''" onblur="if(this.value == '') this.value='поиск'" />
							</td>
							<td class="input_right"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div id="content">
			<div id="left">
				<div id="menu">
					<div class="header">
						<h3>Разделы</h3>
					</div>
					<div id="items">
						{% for section in sections %}
						<p><a href="#">{{ section }}</a></p>
						{% endfor %}
					</div>
					<div class="bottom"></div>
				</div>
			</div>
			<div id="right">
				{% block content %}
				{% endblock %}
			</div>
			<div class="clear"></div>
			<div id="footer">
				<div id="pm">
					<table>
						<tr>
							<td>Способы оплаты:</td>
							<td>
								<img src="{% static 'images/pm.png' %}" alt="Способы оплаты" />
							</td>
						</tr>
					</table>
				</div>
				<div id="copy">
					<p>Copyright &copy; Site.ru. Все права защищены.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>