<!DOCTYPE html>
<html>
<head>
<title>Сайт про птиц</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="птицы, сайт птицы" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstarp-css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstarp-css -->
<!-- css -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--// css -->
<script src="js/jquery.min.js"></script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<!--/fonts-->
<link href="favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<div class="banner">
			<div class="banner-grids">
				<div class="banner-grid-left">
					<div class="header-logo">
						<a href="index.html"><img src="images/logo.png" alt="" /></a>
					</div>
					<div class="top-nav">
							<ul class="cl-effect-1">
								<li><a href="index.html">Главная</a></li>                                             
								<li><a href="about.html">О нас</a></li>
								<li><a href="blog.html">Блог</a></li> 
								<li><a href="contact.html">Контакты</a></li>   
							</ul>
					</div>
				</div>
				<div class="banner-grid-info">
					<div class="social-icons">
						<ul>
							<li><a href="#" class="facebook"></a></li>
							<li><a href="#" class="facebook twitter"></a></li>
							<li><a href="#" class="facebook dribble"></a></li>
						</ul>
					</div>
					<div class="banner-grid-right">
						<h3>Принимая во внимание показатели успешности</h3>
						<p>Семантический разбор внешних противодействий выявляет срочную потребность стандартных подходов. Лишь элементы политического процесса, которые представляют собой яркий пример континентально-европейского типа политической культуры.</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
	<!-- gallery -->
	<div class="gallery">
		<!-- container -->
		<div class="container">
			<div class="gallery-info">
				<h3>Наша галерея</h3>
				<p>Мы вынуждены отталкиваться от того, что убеждённость некоторых оппонентов влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.</p>
			</div>
			<div class="portfolio-mian">
					<div class="portfolio-top">
								<div class="col-md-3 port-1-left">
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper ">		
											<a href="images/port-3.jpg" class="b-link-stripe b-animate-go  swipebox" title="">
										     <img src="images/port-3.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-1  b-delay03 ">Фотография 1</h2>
										  	 </div></a>
										</div>
									</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-5.jpg" class="b-link-stripe b-animate-go  swipebox" title="">
										     <img src="images/port-5.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-2  b-delay03 ">Фотография 2</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-8.jpg" class="b-link-stripe b-animate-go  swipebox" title="">
										     <img src="images/port-8.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-2  b-delay03 ">Фотография 3</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-9.jpg" class="b-link-stripe b-animate-go  swipebox" title="">
										     <img src="images/port-9.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-2  b-delay03 ">Фотография 4</h2>
										  	 </div></a>
			                			</div>
			                		</div>
								</div>
								<div class="col-md-3 port-1-right">
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">		
											<a href="images/port-4.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-4.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 5</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-6.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-6.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 6</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-7.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-7.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 7</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-2.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-2.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 8</h2>
										  	 </div></a>
			                			</div>
			                		</div>
								</div>
								<div class="col-md-3 portfolio-right">
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">		
											<a href="images/port-2.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-2.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-4   b-delay03 ">Фотография 9</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-7.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-7.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-5  b-delay03 ">Фотография 10</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-3.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-3.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-5  b-delay03 ">Фотография 11</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-5.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-5.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left  prt-5  b-delay03 ">Фотография 12</h2>
										  	 </div></a>
			                			</div>
			                		</div>
								</div>
								<div class="col-md-3 port-1-right portfolio-last">
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper">		
											<a href="images/port-9.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-9.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 13</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-8.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-8.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 14</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-4.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-4.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 15</h2>
										  	 </div></a>
			                			</div>
			                		</div>
									<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
										<div class="portfolio-wrapper p-5">		
											<a href="images/port-6.jpg" class="b-link-stripe b-animate-go   swipebox" title="">
										     <img src="images/port-6.jpg"><div class="b-wrapper"><h2 class="b-animate b-from-left prt-3   b-delay03 ">Фотография 16</h2>
										  	 </div></a>
			                			</div>
			                		</div>
								</div>
								<div class="clearfix"></div>
					</div>
				</div>
				<link rel="stylesheet" href="css/swipebox.css">
				<script src="js/jquery.swipebox.min.js"></script> 
			    <script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
				</script>
		</div>
		<!-- //container -->
	</div>
	<!-- //gallery -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="footer-top">
				<div class="footer-logo">
					<a href="index.html"><img src="images/f-logo.png" alt="" /></a>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="about.html">О нас</a></li>
						<li><a href="blog.html">Блог</a></li>
						<li><a href="contact.html">Контакты</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-bottom">
				<div class="col-md-3 footer-left">
					<h3>О нас</h3>
					<p>Как уже неоднократно упомянуто, независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.</p>
				</div>
				<div class="col-md-3 posts">
					<h3>Последние статьи</h3>
					<div class="post-info">
						<a href="single.html">Статья 3</a>
						<p>25 апреля 2025</p>
					</div>
					<div class="post-info">
						<a href="single.html">Статья 2</a>
						<p>15 марта 2025</p>
					</div>
					<div class="post-info">
						<a href="single.html">Статья 1</a>
						<p>25 февраля 2025</p>
					</div>
				</div>
				<div class="col-md-3 comments">
					<h3>Комментарии</h3>
					<p><a href="single.html">Сторонники информации в науке будут рассмотрены исключительно...</a></p>
					<p><a href="single.html">Очень интересно!</a></p>
					<p><a href="single.html">Стремящиеся вытеснить традиционное производство, нанотехнологии...</a></p>
				</div>
				<div class="col-md-3 address">
					<h3>Адрес</h4>
					<ul>
						<li>ООО Моя компания,</li>
						<li>г. Москва, пр. Ленина, д. 1,</li>
						<li>Россия</li>
						<li>Телефон: +7 (495) 123 45 67</li>
						<li>Факс: 8-000-1234567</li>
						<li><a href="mailto:example@example.com">example@example.com</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<div class="copyright">
					<p>Copyrights © 2025 Birds. Все права защищены.</p>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //footer -->
</body>
</html>